@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    background: radial-gradient(#162930, #000000);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: white;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: white;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    
}

.ydcc {
    border: #000000 5px solid;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 700px;
    text-align: center;
    position: relative;
    overflow: hidden;
    max-height: 100%;
    animation: fadeIn 1s ease-in-out;
}

@media screen and (max-width: 1080px) and (max-height: 2400px) {
    body {
        background: radial-gradient(#162930, #000000);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .ydcc {
        max-width: 800px;
        max-height: 100%;
    }
}
